<!DOCTYPE html>
<html>
<head>
<title>Clicker Test</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<h1>{{ the_game.data }}</h1>
<p id='stuff'></p>
<button class="btn btn-green btn-sm" onclick="update_click()" id="the_button"><button>
<script>
    var jsontxt = '{{ the_game.data|safe }}';
    var gamedata = JSON.parse(jsontxt);
    document.getElementById("stuff").innerHTML = "You clicked " + gamedata.clicks;
    function update_click() {
        gamedata.clicks ++;
        $.ajax({
        })
    }
</script>

</body>
</html>