{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clicker Quest!</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>


  {% verbatim %}
  <script id="resource_template" type="text/x-handlebars-template">
    <li class="resource" data-name="{{ name }}">
      <span class="resource_name {{ color }}">{{ name }}:</span>
      <span class="displayed">{{ displayed }}</span>
      {{#if maximum}}
        / {{ maximum }}
      {{/if}}
      ({{ income }}/s)
      <div class="popup">
        <div class="description">{{ description }}</div>
      </div>
    </li>
  </script>

  <script id="building_template" type="text/x-handlebars-template">
    <li class="building{{#if owned}} owned{{/if}}" data-name="{{ name }}" data-type="building">
      {{ name }} {{#if owned}} ({{ owned }}) {{/if}}
      <div class="popup_L">
        <div class="description">{{ description }}</div>
        <ul class="building_cost">
          <li class="list_label">Cost:</li>
          {{#each cost}}
            <li>{{ @key }}: {{ this }}</li>
          {{/each}}
        </ul>
        <ul class="building_income">
          <li class="list_label">Income:</li>
          {{#each income}}
            <li>{{ @key }}: {{ this }}</li>
          {{/each}}
        </ul>
      </div>
    </li>
  </script>

  <script id="upgrade_template" type="text/x-handlebars-template">
    <li class="upgrade {{#if upgrade.owned}} owned {{/if}}" data-type="upgrade">
      {{ upgrade }} {{#if upgrade.owned}} (owned) {{/if}}
      <div class="popup_L">
        <div class="description">{{ upgrade.description }}</div>
        <ul class="upgrade_cost">
          <li class="list_label">Cost:</li>
          {{#each cost}}
            <li>{{ @key }}: {{ this }}</li>
          {{/each}}
        </ul>
      </div>
    </li>
  </script>
{% endverbatim %}



  <body>
    <header>
      <hgroup>
        <h1>Clicker Quest</h1>
        <!-- <h3>|-o-|  <-o->  |-o-|</h3> -->
        <!-- <h3 class="green">&nbsp&nbsp&nbsp \\ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp \\</h3> -->
      </hgroup>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li class="nav_item"><a href="/logout">Logout</a></li>
          {% else %}
          <li class="nav_item"><a href="/accounts/login">Login</a></li>
          <li class="nav_item"><a href="/accounts/register">Register</a></li>
          {% endif %}
          <li class="nav_item"><a href="#">LeaderBoard</a></li>
        </ul>
      </nav>
    </header>
    <div id="header_offset"></div>
    <div class="clearfix"></div>
    <main>
      <section id="resources">
        <ul id="resource_ul">
        </ul>
      </section>
      <section id="buildings">
        <ul id="building_ul">
        </ul>
      </section>
      <section id="upgrades">
        <ul id="upgrade_ul">
        </ul>
      </section>
      <section id="leaderboard">
        <ul>
          <li class="leader">#1 - Kent Ross  -  Score</li>
          <li class="leader">#2 - Kyle Richardson  -  Score</li>
          <li class="leader">#3 - Ben Garnaat  -  Score</li>
        </ul>
      </section>
    </main>
    <footer>Clicker Quest.  Copyright (c) 2016 Copyright Holder All Rights Reserved.  Clicker Quest Co. Inc. LLC</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="{% static 'game.js' %}"></script>
  </body>
</html>
