{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clicker Quest!</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>


  <script id="resource_template" type="text/x-handlebars-template">
    <li class="resource" id="{{ resource }}">
      <span class="{{ resource.color }}">{{ resource }}:</span>{{ resource.displayed }} / {{ resource.maximum }}({{resource.income}}/s)
      <div class="popup">
        <div class="description">{{ resource.description }}</div>
      </div>
    </li>
  </script>


  <script id="building_template" type="text/x-handlebars-template">
    <li class="building {{ #if building.owned }} owned {{ /if }}" id="{{ building }}">
      {{ building }} {{ #if building.owned }} ({{ owned }}) {{ /if }}
      <div class="popup_L">
        <div class="description">{{ building.description }}</div>
        <ul class="building_cost">
        </ul>
        <ul class="building_income">
        </ul>
      </div>
    </li>
  </script>

  <script id="building_cost_template" type="text/x-handlebars-template">
    <li>{{ resource }}: {{ amount }}</li>
  </script>

  <script id="building_income_template" type="text/x-handlebars-template">
    <li>{{ resource }}: {{ rate }}</li>
  </script>


  <script id="upgrade_template" type="text/x-handlebars-template">
    <li class="upgrade {{ #if upgrade.owned }} owned {{ /if }}" id="{{ upgrade }}">
      {{ upgrade }} {{ #if upgrade.owned }} (owned) {{ /if }}
      <div class="popup_L">
        <div class="description">{{ upgrade.description }}</div>
        <ul class="upgrade_cost">
        </ul>
      </div>
    </li>
  </script>


  <script id="upgrade_cost_template" type="text/x-handlebars-template">
    <li>{{ resource }}: {{ amount }}</li>
  </script>




  <body>
    <header>
      <hgroup>
        <h1>Clicker Quest</h1>
        <!-- <h3>|-o-|  <-o->  |-o-|</h3> -->
        <!-- <h3 class="green">&nbsp&nbsp&nbsp \\ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp \\</h3> -->
      </hgroup>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li class="nav_item"><a href="/logout">Logout</a></li>
          {% else %}
          <li class="nav_item"><a href="/accounts/login">Login</a></li>
          <li class="nav_item"><a href="/accounts/register">Register</a></li>
          {% endif %}
          <li class="nav_item"><a href="#">LeaderBoard</a></li>
        </ul>
      </nav>
    </header>
    <div id="header_offset"></div>
    <div class="clearfix"></div>
    <main>
      <section id="resources">
        <ul id="resource_ul">
          <!-- {% for resource in resources %}
          <li class="resource" id="{{ resource }}">
            <span class="{{ resource.color }}">{{ resource }}:</span> <span id="{{ resource }}_current">{{ resource.owned }}</span> / <span class="{{ resource }}_max">{{ resource.maximum }}</span> <span class="{{ resource }}_income">({{resource.income}}/s)</span>
          </li>
          <div class="popup">
            <div class="description">{{ resource.description }}</div>
          </div>
          {% endfor %} -->
        </ul>
      </section>
      <section id="buildings">
        <ul id="building_ul">
          <!-- {% for building in buildings %}
          <li class="building {% if building.owned} owned {% endif }" id="{{ building }}">
            {{ building }} {% if building.owned %}<span class="{{ building }}_current"> ({{ owned }}) </span>{% endif %}
            <div class="popup_L">
              <div class="description">{{ building.description }}</div>
              <ul>
                {% for (resource, amount) in cost %}
                <li>{{ resource}}: {{ amount }}</li>
                {% endfor %}
              </ul>
              <ul>
                {% for (resource, rate) in income %}
                <li>{{ resource}}: {{ rate }}</li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %} -->
        </ul>
      </section>
      <section id="upgrades">
        <ul id="upgrade_ul">
          <!-- {% for upgrade in upgrades %}
          <li class="upgrade" upgrade-owned="{% if upgrade.owned %} owned {% endif %}" id="{{ upgrade }}">
            {{ upgrade }} <span class="owned">{% if upgrade.owned %} (owned) {% endif %}</span>
            <div class="popup_L">
              <div class="description">{{upgrade.description}}</div>
              <ul>
                {% for (resource, amount) in cost %}
                {{ resource }}: {{ amount }}
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %} -->
        </ul>
      </section>
      <section id="leaderboard">
        <ul>
          <li class="leader">#1 - Kent Ross  -  Score</li>
          <li class="leader">#2 - Kyle Richardson  -  Score</li>
          <li class="leader">#3 - Ben Garnaat  -  Score</li>
        </ul>
      </section>
    </main>
    <footer>Clicker Quest.  Copyright (c) 2016 Copyright Holder All Rights Reserved.  Clicker Quest Co. Inc. LLC</footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js'></script>
    <script src="{% static 'game.js' %}"></script>
  </body>
</html>
